*{
    padding: 0;
    margin: 0;
}
.body{
    height: 915px;
    background: black;
    background-image: url(1111.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}
/* slider */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 25px solid forestgreen;
    box-shadow: 2px 2px 3em white;
    overflow: hidden;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 300px;
    width: 300px;   
    border-radius: 50%;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: 7s infinite item;
}
@keyframes item{
  0%{
      transform: translateX(350px);
  }
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    border-radius: 50%;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 60px;
    color: chartreuse;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'Cinzel Decorative', cursive;
}
/* contacte */
.contacte{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.3);
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 130px;
    background: none;
    border: none;
}
/* social */
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.rsx{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: 80px;
    border: none;
    color: tomato;
    animation: 4s infinite rsx;
}
@keyframes rsx{
    25%{
        transform: translateY(50px);
        background: whitesmoke;
        border-radius: 50%;
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-50px);
        
    }
}